
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}.App {
  text-align: center;
  background-color: rgb(29, 29, 29);
  padding-top: 3rem;
  height: 100rem;
}
.qr{
  &__title{
    color: white;
    padding-bottom: 2rem;
  }
  &__form{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
  }
  &__input{
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 0.25rem;
  }
  &__button{
    border-radius: 0.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    background-color: rgb(32, 153, 48);
    color: white;
    
  }
  &__label{
    color: white;
    text-align: left;
  }
  &__radio{
    color: white;
  }
  &__radio2{
    color: white;
    text-align: left;
  }
  &__radiopar{
    display: flex;
  }
  &__radiocontainer{
    padding-bottom: 1rem;
  }
}